<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <h1>Monday's chores: </h1>
    <ul class="todoItems">
    <% for(let i=0; i < items.length; i++) {%>
        <% if(items[i].day.toLowerCase() === "monday") {%>
        <li class="item">
                <% if(items[i].completed === true) {%>
                    <span class='completed'><%= items[i].chore %></span>
                <% }else{ %>
                    <span><%= items[i].chore %></span>
                <% } %>   
                <span class='fa fa-trash'></span> 
                <% } %>
        </li>
    <% } %>
    </ul>

    <h4>Left to do:<%= leftMon %> </h4>
</section>

<section>
    <h1>Tuesday's chores: </h1>
    <ul class="todoItems">

    <% for(let i=0; i < items.length; i++) {%>
        <% if(items[i].day.toLowerCase() === "tuesday") {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].chore %></span>
            <% }else{ %>
                <span><%= items[i].chore %></span>
            <% } %>   
            <span class='fa fa-trash'></span> 
            <% } %>
        </li>
    <% } %>
    </ul>

    <h4>Left to do:<%= leftTues %> </h4>
</section>

<section>
    <h1>Wednesday's chores: </h1>
    <ul class="todoItems">

    <% for(let i=0; i < items.length; i++) {%>
        <% if(items[i].day.toLowerCase() === "wednesday") {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].chore %></span>
            <% }else{ %>
                <span><%= items[i].chore %></span>
            <% } %>   
            <span class='fa fa-trash'></span> 
            <% } %>
        </li>
    <% } %>
    </ul>

    <h4>Left to do:<%= leftWed %> </h4>
</section>

<section>
    <h1>Thursday's chores: </h1>
    <ul class="todoItems">

    <% for(let i=0; i < items.length; i++) {%>
        <% if(items[i].day.toLowerCase() === "thursday") {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].chore %></span>
            <% }else{ %>
                <span><%= items[i].chore %></span>
            <% } %>   
            <span class='fa fa-trash'></span> 
            <% } %>
        </li>
    <% } %>
    </ul>

    <h4>Left to do:<%= leftThurs %> </h4>
</section>

<section>
    <h1>Friday's chores: </h1>
    <ul class="todoItems">

    <% for(let i=0; i < items.length; i++) {%>
        <% if(items[i].day.toLowerCase() === "friday") {%>
        <li class="item">
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].chore %></span>
            <% }else{ %>
                <span><%= items[i].chore %></span>
            <% } %>   
            <span class='fa fa-trash'></span> 
            <% } %>
        </li>
    <% } %>
    </ul>

    <h4>Left to do:<%= leftFri %> </h4>
</section>

<section class="form">
    <h2>Add A Chore:</h2>
    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Chore" name="todoItem">
        <input type="text" placeholder="Day" name="day">
        <input type="submit">
    </form>
</section>
    
    <script src='js/main.js'></script>
</body>
</html>
